
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    margin: 40px;
    color: #333;
}

h1 {
    text-align: center;
    color: #222;
}

h2 {
    text-align: center;
    color: #333;
}

h3 {
    text-align: center;
    color: #444;
}

h4 {
    text-align: center;
    color: #555;
}

.layout-container {
    display: flex;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.left-panel {
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

.right-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 100vh;
    padding-right: 10px;
    gap: 10px;
}


.card {
    background: white;
    padding: 20px;
    padding-top: 5px; 
    border-radius: 8px;
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 75%;
    margin: 10px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

textarea {
    height: 120px;
    resize: vertical;
}

#analises-container {
    width: 75%;
    margin: 20px auto;
}

.analise-card {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.analise-card p {
    margin: 5px 0;
}

button {
    border: none;
    border-radius: 8px;
    padding: 6px 10px;
    margin: 0px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    transition: transform 0.2s, opacity 0.2s;
}

button:hover {
    transform: scale(1.10);
    opacity: 0.9;
}

.botoes{
    text-align: center;
}

.publicar, .cancelar {
    margin: 10px;
    margin-left: 25px;
    margin-right: 25px;
}

.publicar {
    background-color: #28a745;
}

.cancelar {
    background-color: #dc3545;
}

.btn-editar, .btn-excluir {
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.editar:hover {
    background-color: #e3f2fd;
}

.excluir:hover {
    background-color: #ffebee;
}