
body { 
    font-family: Arial, sans-serif;
    margin: 40px;
    background: #f5f5f5;
}
h1 {
    color: #333;
    text-align: center;
}
form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 75%;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
label { 
    display: block;
    margin-top: 10px;
}
input, textarea {
    width: 95%;
    padding: 8px;
    margin-top: 5px;
}

textarea {
    height: 120px;
    resize: vertical;
}

button {
    border: none;
    border-radius: 8px;
    padding: 6px 10px;
    margin: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    transition: transform 0.2s, opacity 0.2s;
}

button:hover {
    transform: scale(1.10);
    opacity: 0.9;
}

.botoes{
    text-align: center;
}

.salvar {
    background-color: #28a745;
}

.cancelar {
    background-color: #dc3545;
}