body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    margin: 40px;
    color: #333;
}

h1 {
    text-align: center;
    color: #222;
    margin-bottom: 30px;
}

table {
    width: 75%;
    margin-top: 20px;
    margin: 0px auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    text-align: left; 
}

th {
    background-color: #2c3e50;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

button {
    border: none;
    border-radius: 8px;
    padding: 6px 10px;
    margin: 3px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    transition: transform 0.2s, opacity 0.2s;
}

button:hover {
    transform: scale(1.10);
    opacity: 0.9;
}

.analise {
    background-color: #28a745;
}

.editar {
    background-color: #007bff;
}

.excluir {
    background-color: #dc3545;
}

.alerta {
    text-align: center;
    color: #27ae60;
    font-weight: bold;
    margin-top: 20px;
}

.novo-filme {
    background-color: #ff9800;
    padding: 10px 16px;
    font-size: 15px;
    display: block;
    margin: 25px auto;
    width: 40%;
    height: 20px;
}

.acoes {
    text-align: center;
}
